@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 35, 65;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-rgb));   
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-logo {
  position: absolute;
  margin-top: -2rem;
  margin-left: -45rem;
  width: 30%;
}

.title-text {
  font-weight: 500;
}

.background-image {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  object-fit: cover;
}


