blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
Flask-Mail
fuzzywuzzy
google-ads
google-api-core
google-auth
google-auth-oauthlib
google_search_results
googleapis-common-protos
grpcio
grpcio-status
idna
itsdangerous
Jinja2
Levenshtein
MarkupSafe
numpy
oauthlib
pandas
pgeocode
proto-plus
protobuf
pyasn1
pyasn1_modules
python-dateutil
python-Levenshtein
pytz
PyYAML
rapidfuzz
requests
requests-oauthlib
rsa
six
tzdata
urllib3
Werkzeug
